.request-user {
  position: relative;
}
.request-user-icon-approve {
  position: absolute;
  right: 23px;
  top: 23px;
  font-size: 23px;
}
.request-user-icon-disapprove {
  position: absolute;
  right: 46px;
  top: 23px;
  font-size: 23px;
}
