.profileContainer {
  background-color: white;
  border-radius: 5px;
  width: 100%;
  text-align: left;
  padding: 20px;
}
.profileContainer .form-control {
  margin-bottom: 30px;
}
.profileContainer .date-picker-control {
  width: 100%;
}
.profileContainer .date-picker-control label {
  display: block;
  margin-bottom: 0.5rem;
}
.profileContainer button[type="submit"] {
  background-color: #441b74;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  cursor: pointer;
}

.profileContainer button[type="submit"]:hover,
.profileContainer button[type="submit"]:focus,
.profileContainer button[type="submit"]:active {
  background-color: #1b0732;
}
