.profileContainer {
  background-color: white;
  border-radius: 5px;
  width: 100%;
  text-align: left;
  padding: 20px;
}
.form-control {
  margin-bottom: 30px;
}
.date-picker-control {
  width: 100%;
}
.date-picker-control label {
  display: block;
  margin-bottom: 0.5rem;
}
button[type="submit"] {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  margin-top: 1rem;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0056b3;
}
