.popup {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  /* width: 30%; */
  /* height: 50%; */
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  border-radius: 10px;
  text-shadow: none;
}

form {
  /* background-color: red; */
  /* height: 100%; */
  display: block;
}

/* form div {
  height: 25%;
  width: 90%;
} */

.headers {
  display: flex;
  flex-direction: row;
  justify-content: space-around;

}

.form_rows {
  /* background-color: #4c3889; */
  /* height: 100%;
  width: 100%; */
  display: flex;
  flex-direction: column;
  justify-content: start;
  /* align-items:start; */
  /* background-color: aqua; */
}

.form_columns {
  /* height: 70%;
  width: 100%; */
  display: flex;
  flex-direction: row;
  justify-content: start;
  /* align-items: ; */
  /* background-color: red;  */
  /* background-color: #210155; */
}

/* .column1 {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
}

.column2 {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  background-color: red;
} */

.close_button {
  color: black;
  font-size: 100%;
  background-color: white;
  border: 1px solid white;
  width: 1%;

}

input:focus {
  border: 3px solid #4c3889;
}

h3 {
  color: #5c6570;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  ;

}

.form_columns label {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  font-size: 15px;
  color: #72757a;
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  /* height: 100%; */
  margin-top: 5%;
  /* width: 100%; */
}

.form_columns label input {
  margin-top: 1%;
  width: 300px;
  height: 40px;

}

.sumbit_button {
  margin-bottom: 3%;
  margin-top: 5%;
  align-self: auto;
}

.popup_button {
  /* background-color: #4c3889; */
  height: 100%;
  width: 100%;
  color: white;
  background-color: transparent;
  text-align: end;
  border: none;
  /* font-size: 60%; */
}