.form_container {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    height: 96vh;
    width: 30vw;
    margin-left: 550px;
    margin-top:20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
  }
  
  .form_group {
    width: 90%;
    height: 7%;
    margin-bottom: 1px;
    text-align: left;
    color: #5c6570;
  }
  
  input {
    margin-left: 20px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    border: 3px solid #ccc;
    height: 100%;
    background-color: #f6f8f9;
    color: #5c6570;
    font-family: Helvetica Neue;

  }
  
form{
    width: 100%;
}
select{
    margin-left: 20px;
    width: 100%;
    box-sizing: border-box;
    border-radius: 4px;
    border: 3px solid #ccc;
    height: 100%;
    background-color: #f6f8f9;
    color: #5c6570;
    font-family: Helvetica Neue;

}
h2{
   color: #5c6570

}
input:focus {
    border: 3px solid #4c3889;
  }
button{
    border-radius: 30px;
    width: 80%;
    height: 6%;
    background-color: #4c3889;
    border: 3px solid #4c3889;
    margin-bottom: 10px;
    color: white;
    font-family: Helvetica Neue,Helvetica,Arial,sans-serif;;
}
a{
    text-decoration: none;
}
.signinlink{
    margin-bottom: 10px;
}